html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
}


.quoteDisplay {
    height: 30px;
}

.rotatingImages {
    width: 200px;
    height: 200px;
}

.inspireQuoteDisplay {
    width: 75%;
}